.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/demo2/temp
*.pdf

/demo9-tinyPNG/source
/demo9-tinyPNG/dist
/demo10-imageMin/source
/demo10-imageMin/dist